.input-container {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.input-container:focus-within label {
    transform: translate(0, 9px);
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 2%;
    text-align: left;
}

.input-container .filled_label {
    transform: translate(0, 9px);
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 2%;
    text-align: left;
}

.input-container .filled_input {
    padding-top: 25px;
    padding-bottom: 9px;
}

.input-container label {
    position: absolute;
    pointer-events: none;
    transform: translate(0, 17px) scale(1);
    transform-origin: top left;
    transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    color: #6f81a5;
    font-size: 16px;
    line-height: 1;
    left: 16px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
}

.input-container input {
    width: 364px;
    height: 54px;
    padding: 17px 12px 17px 14px;
    font-size: 16px;
    line-height: 1;
    outline: none;
    box-shadow: none;
    transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
}

.input-container input:focus {
    box-shadow: 0 0 0 2px rgb(111, 210, 115);
    padding-top: 25px;
    padding-bottom: 9px;

}

.input-container .error_input, .input-container .error_input:focus {
    box-shadow: 0 0 0 2px  rgb(255, 64, 75);
   
}